<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-footer">
              <a [routerLink] = "'/ehs_module/Waste'"> <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Back </button></a>
          </div>
        <div class="card-header">
          <strong>Waste Material Management</strong>
        </div>
        <div class="card-body">
          <form  >
            <h3>A.Waste Material Management:</h3>
            <hr>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input"><font size="4" >1.Material Name </font></label>
              <div class="col-md-6">
                {{ehs.chem_name}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input"><font size="4" >2.Quantity</font> </label>
              <div class="col-md-6">
                {{ehs.quantity}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input"><font size="4" >3.Description</font></label>
              <div class="col-md-6">
                  {{
                    ehs.waste_desc
                  }}
                </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1"><font size="4" >4.Department</font> </label>
              <div class="col-md-3">
                {{ehs.waste_department}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input"><font size="4" >5.Date of Disposal</font> </label>
              <div class="col-md-6">
              {{ehs.disposal_date}}          
             </div>
            </div>
           
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1"><font size="4" >6.Disposal Method </font></label>
              <div class="col-md-3">
                {{ehs.techniques}}
              </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <label for="emp_gender" class="block"><font size="4" >-Generation:</font></label>
                            </div>
                            <div class="form-group form-radio col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                <div class="radio radio-inline">
                                    <label>
                                        <input type="radio" class="form_control" name="generation" id="generation_1" [value]="1"  [(ngModel)]="ehs.generation">
                                        <i class="helper"></i>Yes &nbsp;&nbsp;&nbsp;&nbsp;
                                    </label>
                                    <label>
                                      <input type="radio" class="form_control" name="generation" id="generation_2" [value]="2"  [(ngModel)]="ehs.generation">
                                      <i class="helper"></i>No
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
        <div class="row">
       <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label for="emp_gender" class="block"><font size="4" >-Collection:</font></label>
                    </div>
                    <div class="form-group form-radio col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" class="form_control" name="collection_1" id="collection_1" value="1" [(ngModel)]="ehs.collection_1">
                                <i class="helper"></i>Yes &nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" class="form_control" name="collection_1" id="collection_2" value="2" [(ngModel)]="ehs.collection_1">
                                <i class="helper"></i>No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
    <div class="row">
   <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <label for="emp_gender" class="block"><font size="4" >-Storage:</font></label>
                </div>
                <div class="form-group form-radio col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" class="form_control" name="storage_1" id="storage_1" value="1" [(ngModel)]="ehs.storage_1">
                            <i class="helper"></i>Yes &nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label>
                            <input type="radio" class="form_control" name="storage_1" id="storage_2" value="2" [(ngModel)]="ehs.storage_1">
                            <i class="helper"></i>No
                        </label>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
    <div class="row">
   <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <label for="emp_gender" class="block"><font size="4" >-Transportation:</font></label>
                </div>
                <div class="form-group form-radio col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" class="form_control" name="transportation_1" id="transportation_1" value="1" [(ngModel)]="ehs.transportation_1">
                            <i class="helper"></i>Yes &nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <label>
                            <input type="radio" class="form_control" name="transportation_1" id="transportation_2" value="2" [(ngModel)]="ehs.transportation_1">
                            <i class="helper"></i>No
                        </label>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>

 <h3>B.Transportation:</h3>
 <hr>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input"><font size="4" >1.Vehicle Name</font> </label>
          <div class="col-md-6">
            {{ehs.veh_name}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input"><font size="4" >2.Vehicle Number</font> </label>
          <div class="col-md-6">
            {{ehs.veh_number}}
          </div>
        </div>
        
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input"><font size="4" >3.Material Quantity</font></label>
            <div class="col-md-6">
              {{ehs.material_qty}}
            </div>
          </div>

          <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input"><font size="4" >4.Disposal Name</font></label>
              <div class="col-md-6">
                {{ehs.dis_name}}
              </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                  <label for="date"><font size="4" >5.Date of Dispatch</font></label>
                </div>
                <div class="col-md-3">
                  {{ehs.disposal_date}}
                </div>
              </div>

          </form>

        </div>

      
    </div>
    <!--/.col-->
  </div><!--/.row-->
  </div>
 