<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-4">
          <div class="card-footer">
              <a [routerLink] = "'/neha/Product'"> <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Back </button></a>
          </div>
        <!-- Nav tabs -->
        <tabset>
          <tab>
            <ng-template tabHeading><i class="icon-list"></i> Product Details &nbsp;</ng-template>
            <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                          <div class="row">
                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                  <label for="pro_code" class="block"><b>Product Code</b></label>
                                 </div>
                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                    <input id="pro_code" name="pro_code" type="text" class=" form-control" placeholder="Enter Product code"/>
                                </div>
                  </div>
                         </div>
                       
                    </div>
                    <div class="row">
                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                  <div class="row">
                                        <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                          <label for="pro_name" class="block"><b>Product Name</b></label>
                                         </div>
                                        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter Product name"/>
                                        </div>
                          </div>
                                 </div>
                               
                            </div>
                            <div class="row">
                                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                          <div class="row">
                                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                  <label for="pro_type" class="block"><b>Product Type</b></label>
                                                 </div>
                                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                    <input id="pro_type" name="pro_type" type="text" class=" form-control" placeholder="Enter Product Type"/>
                                                </div>
                                  </div>
                                         </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                  <div class="row">
                                                        <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                          <label for="manu_date" class="block"><b>Manufacturing Date</b></label>
                                                         </div>
                                                        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                            <input id="manu_date" name="manu_date" type="date" class=" form-control" />
                                                        </div>
                                          </div>
                                                 </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                          <div class="row">
                                                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                  <label for="exp_date" class="block"><b>Expiry Date</b></label>
                                                                 </div>
                                                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                                    <input id="exp_date" name="exp_date" type="date" class=" form-control" />
                                                                </div>
                                                  </div>
                                                         </div>
                                                       
                                                    </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-calculator"></i> Process Of Safety &nbsp;</ng-template>
            <div class="row">
                <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12">
                          <div class="row">
                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                  <label for="info" class="block"><b>1) Hazrad of Chemical used in Process</b></label>
                                 </div><br><br>

                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-10">
                                  <textarea rows="4" cols="50" class="form-control" iplaceholder="Type here.."  placeholder="Type here..."></textarea>
                                 
                                </div>
                  </div>
                         </div>
                       
                    </div>
                    <div class="row">
                        <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                  <div class="row">
                                        <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                          <label for="info" class="block"><b>2) Technology of Process</b></label>
                                         </div><br><br>
                                         
                                        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-10">
                                          <textarea rows="4" cols="50" class="form-control" iplaceholder="Type here.."  placeholder="Type here..."></textarea>
                                         
                                        </div>
                          </div>
                                 </div>
                               
                            </div>
                            <div class="row">
                                <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                          <div class="row">
                                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                  <label for="info" class="block"><b>3) Equipment of Process</b></label>
                                                 </div><br><br>
                                                 
                                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-10">
                                                  <textarea rows="4" cols="50" class="form-control" iplaceholder="Type here.."  placeholder="Type here..."></textarea>
                                                 
                                                </div>
                                  </div>
                                         </div>
                                       
                                    </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-pie-chart"></i> Packaging</ng-template>
           
                    <div class="row">
                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                  <div class="row">
                                        <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                          <label for="pro_name" class="block"><b>Type</b></label>
                                         </div>
                                        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                        </div>
                          </div>
                                 </div>
                               
                            </div>
                            <div class="row">
                                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                          <div class="row">
                                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                  <label for="pro_name" class="block"><b>Way To Handle</b></label>
                                                 </div>
                                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                    <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                                </div>
                                  </div>
                                         </div>
                                       
                                    </div>
                            <div class="row">
                                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                          <div class="row">
                                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                  <label for="pro_type" class="block"><b>Method</b></label>
                                                 </div>
                                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                    <input id="pro_type" name="pro_type" type="text" class=" form-control" placeholder="Enter Product Type"/>
                                                </div>
                                  </div>
                                         </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                  <div class="row">
                                                        <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                          <label for="manu_date" class="block"><b>Packaging Date</b></label>
                                                         </div>
                                                        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                            <input id="manu_date" name="manu_date" type="date" class=" form-control" />
                                                        </div>
                                          </div>
                                                 </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                          <div class="row">
                                                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                  <label for="exp_date" class="block"><b>Delivery Date</b></label>
                                                                 </div>
                                                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                                    <input id="exp_date" name="exp_date" type="date" class=" form-control" />
                                                                </div>
                                                  </div>
                                                         </div>
                                                       
                                                    </div>
          </tab>
          <tab>
              <ng-template tabHeading><i class="icon-pie-chart"></i> Vehicle Details</ng-template>
         <h5><strong>A) Vehicle Details</strong></h5>
         <hr>

              <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                          <div class="row">
                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                  <label for="pro_name" class="block"><b>Name</b></label>
                                 </div>
                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                    <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                </div>
                  </div>
                         </div>
                       
                    </div>
                    <div class="row">
                      <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="row">
                                      <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <label for="pro_name" class="block"><b>Number</b></label>
                                       </div>
                                      <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                          <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                      </div>
                        </div>
                               </div>
                             
                          </div>
              <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                          <div class="row">
                                <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                  <label for="exp_date" class="block"><b>Delivery Date</b></label>
                                 </div>
                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                    <input id="exp_date" name="exp_date" type="date" class=" form-control" />
                                </div>
                  </div>
                         </div>
                       
                    </div>
                    <h5><strong>B) Supplier Details</strong></h5>
                    <hr>
                    <div class="row">
                      <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="row">
                                      <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <label for="pro_name" class="block"><b>Name</b></label>
                                       </div>
                                      <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                          <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                      </div>
                        </div>
                               </div>
                             
                          </div>
                          <div class="row">
                            <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                      <div class="row">
                                            <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                              <label for="pro_name" class="block"><b>Phone Number</b></label>
                                             </div>
                                            <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                            </div>
                              </div>
                                     </div>
                                   
                                </div>
                                <div class="row">
                                  <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="row">
                                                  <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                    <label for="pro_name" class="block"><b>Email Address</b></label>
                                                   </div>
                                                  <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                      <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                                  </div>
                                    </div>
                                           </div>
                                         
                                      </div>
                                      <h5><strong>C) Vehicle Driver Details</strong></h5>
                                      <hr>
                                      <div class="row">
                                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                  <div class="row">
                                                        <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                          <label for="pro_name" class="block"><b>Name</b></label>
                                                         </div>
                                                        <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                            <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                                        </div>
                                          </div>
                                                 </div>
                                               
                                            </div>
                                            <div class="row">
                                              <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                        <div class="row">
                                                              <div class="  col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                                <label for="pro_name" class="block"><b>Phone Number</b></label>
                                                               </div>
                                                              <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                                                  <input id="pro_name" name="pro_name" type="text" class=" form-control" placeholder="Enter type"/>
                                                              </div>
                                                </div>
                                                       </div>
                                                     
                                                  </div>
            </tab>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit </button>
              </div>
        </tabset>

      </div><!--/.col-->
      
    </div><!--/.row-->
    
  </div>
  
