<div class="col-sm-12 col-md-12">
  <div class="card border-success">
    <div class="card-header">
     <strong> <em><u>OHSAS LAW</u></em></strong>
    </div>
    <div class="card-body">
  <p class="head"><strong>OHSAS 1800:2007 Occupational Health and Safety Management Certification is an international standard which provides a framework to identify, control and decrease the risks associated with health and safety within the workplace. Implementing the standard will send a clear signal to your stakeholders that you view employee?s health and safety as a priority within your organisation.</strong></p> <br><br>   
<div [style.size]="'1'">
  <p ><em>
  An increasing number of organisations are completing OHSAS 18001 certification as employers are under increasing pressure to ensure that a rigorous health and safety policy is in place which protects employees against possible occupational risks and reduces the likelihood of accidents in the workplace. By planning ahead an organisation can also identify health and safety risks and conform to health and safety legislation.</em></p>
</div>	<br><br>
<div><h5><strong> LAW DESCRIPATION :</strong></h5></div>
<div><br>
  1)Improves corporate image and credibility among stakeholders, regulators, customers, prospective clients and the public 
</div>	<br>			
      <div>2)Adoption of international best practice in relation to risk management</div><br>
      <div>3)Ensures health and well-being of employees, sub-contractors and the public</div><br>
      <div> 4) Minimisation of liability of employers through adoption of proactive rather than reactive controls</div><br>
      <div>  5)Ensures legislative awareness and compliance </div><br>
      <div>6)Reduces accident and incident rates by reducing or eliminating workplace hazards </div><br>
      <div>7)Improves the incident investigation process </div><br>
      <div>8)Increases employee motivation through the provision of a safer workplace and participation process</div><br><br>
    <div><p><strong>Date: 2019-03-06</strong></p>
    </div>
    </div>
  </div>
</div><!--/.col-->