

<div class="row"> 
    <div class="col-lg-12">
      <div class="card">
          <div class="w3-bar"> 
              <div class="input-group">
                  <div class="row align-items-center">
                      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                         
                          <a [routerLink] = "'/ehs_module/NewProduct'"> <button type="button" class="btn btn-pill btn-block btn-primary">Create</button> </a>
                      </div>
                     
                       <!-- <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <a [routerLink] = "'/neha/Factory'">  <button type="button" class="btn btn-pill btn-block btn-primary">Factory_Act</button></a>
                       </div>    -->
                        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                            <a [routerLink] = "'/ehs_module/Mail'">  <button type="button" class="btn btn-pill btn-block btn-primary">Email</button></a>
                          </div>
  
                          <div id="fetchbtn">
                            <button type="button" class="btn btn-pill btn-block btn-primary" (click)="getAllProductList();">Show List</button>
                          </div>
                          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                            <a [routerLink] = "'/ehs_module/Back'"> <button type="submit" class="btn btn-pill btn-block btn-primary"> Back </button></a>
                        </div>
  
                          <!-- <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                              More <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                              <li role="menuitem"><a class="dropdown-item" href="#">Import</a></li>
                              <li role="menuitem"><a class="dropdown-item" href="#">Export csv</a></li>
                  
                             
                            </ul>
                          </div> -->
                          <div class="form-group" >
                              
                              <div class="controls" >
                                  <div class="input-group" >
  
                                  <input id="appendedInputButtons" size="16" class="form-control" type="text">
                                  <span class="input-group-append">
                                  
                                    <button class="btn btn-secondary" type="button" >Search</button>
                                   
                                  </span>
                                </div>
                              </div>
                            </div>
                    </div>
              </div>
            </div>
             <br>
             <br>
          
        <div class="card-header">
            
          <i class="fa fa-align-justify"></i> Product Reports
          
        </div>
        <div class="card-body">
          <!-- <table class="table table-striped">
            <thead>
              <tr>
                <th>SR NO</th>
                <th>PRODUCT NAME</th>
                <th>PRODUCT CODE</th>
                <th>MANUFACTURING DATE</th>
                <th>EXPIRY DATE</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Fiberglass</td>
                <td>A-203</td>
                <td>2019-03-06</td>
                <td>2020-03-06</td>
              
               
              </tr>
              <tr>
                <td>2</td>
                <td>Silanes</td>
                <td>A-204</td>
                <td>2019-04-06</td>
                    <td>2020-04-06</td>
                
              
              </tr>
              <tr>
                  <td>3</td>
                  <td>Glass</td>
                  <td>A-205</td>
                  <td>2019-06-06</td>
                      <td>2020-06-06</td>
                  
                
                </tr>
                <tr>
                    <td>4</td>
                    <td>Bottle</td>
                    <td>A-204</td>
                    <td>2019-04-06</td>
                        <td>2020-04-06</td>
                    
                  
                  </tr>
                  
               
            </tbody>
          </table> -->
          <table class="table table-bordered table-striped table-sm">
            <thead>
              
              <th>PRODUCT NAME</th>
               <th>PRODUCT CODE</th> 
              <th>MANUFACTURING DATE</th> 
              <th>EXPIRY DATE</th> 
              
              
            </thead>
            <tbody>
              <tr *ngFor="let product of myresponse">
                 
                  <td>{{product. product_name}}</td>
                 <td>{{product.prod_code }}</td> 
                 <td>{{product.manufacturing_date  }}</td> 
                 <td>{{product.expiry_date}}</td>
                 
                
              </tr>
            </tbody>  
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
    <!--/.col-->
  </div>
  
