<div class="col-sm-12 col-md-12">
  <div class="card border-success">
      <div class="card-footer">
          <a [routerLink] = "'/neha/Industrial'"> <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Back </button></a>
      </div>
    <div class="card-header">
     <strong> <em><u>INDUSTRIAL FACTORY ACT - 1948</u></em></strong>
    </div>
    <div class="card-body">
  <p class="head"><strong>Machinery or part thereof, or exempt, subject to such condition as may be prescribed, for securing the safety of the workers, any particular machinery or part thereof from the provisions of this section.</strong></p> <br><br>   
<!-- <div [style.size]="'1'">
  <p ><em>
  An increasing number of organisations are completing OHSAS 18001 certification as employers are under increasing pressure to ensure that a rigorous health and safety policy is in place which protects employees against possible occupational risks and reduces the likelihood of accidents in the workplace. By planning ahead an organisation can also identify health and safety risks and conform to health and safety legislation.</em></p>
</div>	<br><br> -->
<div><h5><strong> FACTORY ACT DESCRIPATION :</strong></h5></div>
<div><br>
  1)Unless they are in such position or of such construction as to be safe to every person employed in the factory as they would be if they were securely fenced 
</div>	<br>			
      <div>2)The headrace and tailrace of every water-wheel and water turbine</div><br>
      <div>3)	Any part of a stock-bar which projects beyond the head stock of a lathe</div><br>
      <div> 4) Unless they are in such position or of such construction as to be safe to every person employed in the factory as they would be if they were securely fenced
      </div><br><br>
     
    <div><p><strong>Date: 2019-03-06</strong></p>
    </div>
    </div>
  </div>
</div><!--/.col-->