<div class="col-md-12">
  <div class="card">
      <div class="card-footer">
          <a [routerLink] = "'/neha/Occupational'"> <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Back </button></a>
      </div>
    <div class="card-header">
      <strong>Occupational Training Programs Aspects </strong> 
    </div>
    <div class="card-body">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">Static</label>
          <div class="col-md-9">
            <p class="form-control-static">Traning Name</p>
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Training Name</label>
          <div class="col-md-9">
            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
      
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="email-input">Aspect</label>
          <div class="col-md-9">
            <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Aspects" autocomplete="email">
           
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Training Details</label>
          <div class="col-md-9">
            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="email-input">Training Rating</label>
          <div class="col-md-9">
            <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Rating" autocomplete="email">
           
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="date-input">Date</label>
          <div class="col-md-9">
            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
          
          </div>
        </div>
       
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit </button>
      </div>
  </div>
 
</div>